#bio audio {
    border: 2px dotted var(--bg-light);
    border-radius: 999px;
}


#bio audio::-webkit-media-controls-panel {
    background-color: var(--primary-dark);
    border: 4px solid red;
}

/* buttons */
#bio audio::-webkit-media-controls-mute-button,
#bio audio::-webkit-media-controls-play-button {
    background-color: var(--bg-light);
    border-radius: 50%;
}

/* times */
#bio audio::-webkit-media-controls-current-time-display,
#bio audio::-webkit-media-controls-time-remaining-display {
    color: var(--bg-light);
    text-shadow: none;
}

#bio audio::-webkit-media-controls-timeline {
    background-color: var(--bg-light);
    margin: 0 10px;
    border-radius: 999px;
}

#bio audio::-webkit-media-controls-volume-slider,
#bio audio::-webkit-media-controls-volume-slider-container {
    background-color: var(--bg-light);
    border-radius: 999px;
    padding-left: 10px;
    padding-right: 10px;
}
