.contact-form legend {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    color: var(--bg-light);
    font-size: 1.3rem;
}

.contact-form fieldset {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    padding: 1.25rem;
    border: var(--table-border);
    margin-bottom: 1.5rem;
}

.contact-form label {
    margin: 0.375rem;
}

.input-row {
    margin: 0.2rem 0.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-row label {
    letter-spacing: 0.1rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    border-radius: 1.25rem;
    border: var(--table-border);
    background-color: transparent;
    padding: 0.6rem;
}

.contact-form input::placeholder,
.contact-form select::placeholder,
.contact-form textarea::placeholder {
    letter-spacing: 0.05rem;
    color: rgba(0, 0, 0, 0.6);
}

#submitButton {
    background-color: var(--content);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1.05rem;
    border-radius: 1.25rem;
    border: none;
    transition: all 200ms ease-in-out;
}

#noRobo {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

button:disabled {
    opacity: 0.7;
}

button:hover:not(:disabled) {
    background-color: var(--bg-light);
    color: var(--content);
}

input[type="checkbox"],
input[type="radio"] {
    border: 2px solid var(--bg-light);
    appearance: none;
    background-color: var(--primary-dark);
    padding: 9px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--primary-color);
    border: 2px solid var(--bg-light);
    color: var(--bg-light);
}

input[type="checkbox"]:checked:after,
input[type="radio"]:checked:after {
    position: absolute;
    color: var(--bg-light);
}

input[type="checkbox"]:checked:after {
    content: "\2714";
    font-size: 20px;
    top: -4px;
    left: -2px;
}

input[type="radio"]:checked:after {
    content: "\2B24";
    font-size: 15.5px;
    top: -1px;
    left: 0px;
}

#petChecks {
    height: 80px;
}

#petChecks p {
    margin-bottom: 0;
}

#petChecks label,
#noRobo label {
    display: inline-flex;
    align-items: center;
    height: 1.5rem;
}
