/* nav */
header nav {
    display: none;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: end;
    padding: 8px;
}

header nav ul li a {
    display: inline-block;
    padding: 8px 16px;
}

.nav-button {
    background: transparent;
    border: none;
    display: flex;
    padding: calc((52px - 35px) / 2);
}

.menu-open {
    display: flex;
}

.menu-open ul {
    flex-direction: column;
}

/* banner */

#banner {
    text-align: justify;
}

#banner header {
    padding: 96px 0;
    text-align: center;
}

/* avatar */

.avatar {
    border-radius: 50%;
    width: var(--avatar-size);
}

/* banner section */

#banner header h1 {
    font-size: calc(var(--base-font-size) * 3);
    margin: 25px 0;
}

#banner header h2 {
    font-size: calc(var(--base-font-size) * 1.5);
    margin: 25px 0;
}

/* info section */

#info {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#info article {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

#info p {
    line-height: 28px;
    text-align: justify;
    padding: 0 15px;
}

#info h3 {
    text-align: center;
}

#info ul {
    padding-left: 0;
}

#info ul li {
    padding: 6px 0;
}

/* bio section */

#bio {
    padding: 80px 0;
    margin: 0 auto;
    max-width: 65ch;
}

#bio h3 {
    text-align: center;
    margin-bottom: calc(var(--base-font-size) * 2);
}

#bio img,
#bio video {
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

#bio audio {
    width: 100%;
    margin-bottom: 1rem;
}

#bio img {
    width: 95%;
}

#bio video {
    max-width: 100%;
    max-height: 90vh;
}

#bio p {
    line-height: 1.8;
    padding: 0 15px;
}

/* horizontal rule with image */

.h-rule {
    display: flex;
    justify-content: center;
}

.h-rule .line {
    width: 85px;
    position: relative;
    margin: 15px;
    border-radius: 6px;
}

.h-rule .icon {
    position: relative;
    top: 3px;
}

.paw {
    width: 30px;
}

/* footer */

footer {
    padding: 24px 0;
    display: flex;
    justify-content: center;
    font-size: calc(var(--base-font-size) * 0.8);
}

/* media queries */

@media (min-width: 768px) {
    header nav {
        display: block;
    }

    header nav ul {
        flex-direction: row;
    }

    .nav-button {
        display: none;
    }

    #info {
        flex-direction: row;
    }

    #info article {
        text-align: left;
    }

    #info p {
        padding: 0;
    }

    #bio img {
        width: 300px;
    }

    #bio img:nth-child(even) {
        float: left;
        margin: 20px 20px 20px 0px;
    }

    #bio img:nth-child(odd) {
        float: right;
        margin: 20px 0px 20px 20px;
    }

    #bio p {
        padding: 0;
    }
}

/* utilities */
.hidden {
    display: none !important;
}

/* contact page */

#eventTypeInput {
    display: flex;
    flex-direction: column;
}
