:root {
    --primary-color: rgb(115, 52, 128);
    --primary-translucent: rgba(115, 52, 128, 0.7);
    --primary-dark: rgb(82, 36, 92);
    --primary-dark-translucent: rgba(82, 36, 92, 0.9);
    --bg-light: rgb(144, 144, 144);
    --bg-darker: rgb(119, 119, 119);
    --bg-image: url('/images/sabrina.png');
}
