/* root variables */
:root {
    --primary-color: rgb(78, 200, 144);
    --primary-translucent: rgba(78, 200, 144, 0.7);
    --primary-dark: rgb(42, 137, 93);
    --primary-dark-translucent: rgba(42, 137, 93, 0.9);
    --bg-light: rgba(90, 60, 98, 0.8);
    --bg-darker: rgba(90, 60, 98, 0.9);
    --link-color: rgb(255, 255, 255);
    --content: rgba(255, 255, 255, 0.8);
    --content-subtle: rgba(255, 255, 255, 0.6);
    --base-font-size: 16px;
    --avatar-size: 256px;
    --avatar-offset: 10px;
    --table-border: 3px dotted var(--bg-light);
}

/* page styles */

body {
    font-family: sans-serif;
    background-color: var(--primary-color);
    background-image: linear-gradient(
        to bottom,
        var(--primary-translucent) 75%,
        var(--primary-dark-translucent)
    );
    color: var(--content);
    font-size: var(--base-font-size);
}

a {
    color: var(--link-color);
    font-weight: 700;
    text-decoration: none;
    transition: color 150ms;
}

a:hover,
a.active {
    color: var(--primary-color);
}

/* nav */

header.header {
    min-height: 52px;
    background-color: var(--bg-light);
}

.nav-button svg {
    width: 35px;
    stroke: var(--primary-color);
}

/* banner */

#banner {
    background-color: var(--primary-color);
}

#banner header h1 {
    text-transform: uppercase;
}

.header-image {
    background-image: linear-gradient(
            to bottom,
            var(--primary-translucent),
            var(--primary-dark-translucent)
        ),
        var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* avatar */

.avatar-wrapper {
    display: flex;
    justify-content: center;
    width: calc(256px + (var(--avatar-offset) * 2));
    border: 3px dotted var(--content);
    border-radius: 50%;
    margin: 0 auto;
}

.avatar {
    padding-top: var(--avatar-offset);
    padding-bottom: var(--avatar-offset);
}

/* info section */

#info {
    background-color: var(--bg-light);
}

#info h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#info a {
    color: var(--primary-color);
    font-weight: 500;
}

#info a:hover {
    color: var(--primary-dark);
    text-decoration: underline;
}

#info ul {
    list-style: none;
}

/* bio section */

#bio h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 4px;
    font-size: calc(var(--base-font-size) * 1.5);
    text-decoration-color: var(--bg-light);
}

/* horizontal rule with image */

.h-rule .line {
    border-bottom: 6px solid var(--content);
}

.paw {
    fill: var(--content);
}

/* footer */

footer {
    background-color: var(--bg-darker);
    color: var(--content-subtle);
}
