#bio table {
    width: 100%;
    text-align: left;
    vertical-align: top;
    border: var(--table-border);
    border-radius: 1.25rem;
}

#bio table:not(:last-child) {
    margin-bottom: 4rem;
}

#bio table caption {
    text-transform: uppercase;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    text-align: left;
    letter-spacing: 0.125rem;
    font-weight: bolder;
    color: var(--bg-light);
    font-size: 1.4rem;
}

col.package-name {
    width: 25%;
}

thead th {
    text-align: center;
}

th,
td {
    padding: 0.75rem 1rem;
    border-bottom: var(--table-border);
    font-size: 1.15rem;
}

th {
    color: var(--content-subtle);
}

thead th,
tbody th,
tbody td {
    border-right: var(--table-border);
}

thead th:last-child,
tbody th:last-child,
tbody td:last-child {
    border-right: none;
}

tfoot tr td {
    border-bottom: none;
    text-transform: lowercase;
    opacity: 0.7;
}
