:root {
    --primary-color: rgb(178, 0, 0);
    --primary-translucent: rgba(178, 0, 0, 0.7);
    --primary-dark: rgb(127, 0, 0);
    --primary-dark-translucent: rgba(127, 0, 0, 0.9);
    --bg-light: rgb(212, 175, 54);
    --bg-darker: rgb(178, 145, 37);
    --bg-image: url('/images/wallie.jpeg');
}
